.mi {
  mask-image: url(../icons/ICON.svg);
  mask-repeat: no-repeat;
  background-color: #4b5563;
}
.mi2 {
  mask-image: url(../icons/ICON2.svg);
  mask-repeat: no-repeat;
  background-color: #4b5563;
}
.mi-qtsx {
  mask-image: url(../icons/mi-qtsx.svg);
  mask-repeat: no-repeat;
  background-color: #4b5563;
}
/* Kich thuoc icon */
.icon20 {
  height: 20px;
  width: 20px;
  min-height: 20px;
  min-width: 20px;
  position: relative;
}
.icon24 {
  height: 24px;
  width: 24px;
  min-height: 24px;
  min-width: 24px;
  position: relative;
}
.icon32 {
  height: 32px;
  width: 32px;
  min-height: 32px;
  min-width: 32px;
  position: relative;
}

.icon16 {
  height: 16px;
  width: 16px;
  min-height: 16px;
  min-width: 16px;
  position: relative;
}
/* icon */
.logo-menu {
  mask-position: 0px -35px;
  cursor: pointer;
}
.angle-down-smal {
  mask-position: -32px 0px;
}
.angle-down {
  mask-position: -202px -18px;
}
.download-status {
  mask-position: -744px -36px;
}
.icon-package-2 {
  background-image: url(../icons/icon-package-2.svg);
}
.user-control-panel {
  background-image: url(../icons/user-control-panel.svg);
}
.bell {
  mask-position: -24px -36px;
}
.question-cirrcle {
  mask-position: -48px -36px;
}
.dots-circle-horizontal {
  mask-position: -8px -428px;
}
.knowledge {
  background-image: url(../icons/icon-knowledge.svg);
}
.avatar-account {
  background-image: url(../icons/Avatar.svg);
  background-size: contain;
}
.collapse-icon {
  mask-position: -140px -16px;
  background-color: #9ca3af;
}
.icon-dashboard {
  mask-position: -6px -7px;
  background-color: #9ca3af;
}
.icon-order {
  background-color: #9ca3af;
  mask-position: -344px -86px;
}
.icon-plan {
  mask-position: -32px -7px;
  background-color: #9ca3af;
}
.icon-coordinate {
  mask-position: -57px -7px;
  background-color: #9ca3af;
}
.icon-next {
  mask-position: -58px -67px;
  z-index: 2;
}
.icon-quality-control {
  mask-position: -110px -6px;
  background-color: #9ca3af;
}
.icon-material-factory {
  background-color: #9ca3af;
  mask-position: -84px -6px;
}
.icon-work-order {
  mask-position: -318px -6px;
  background-color: #9ca3af;
}
.icon-add-white {
  mask-position: -80px 0px;
  background-color: #fff;
}
.icon-search {
  mask-position: 0px 0px;
  background-color: #4b5563;
}
.icon-active {
  mask-position: -192px 0px;
}
.icon-inactive {
  mask-position: -176px 0px;
}
.icon-trash--red {
  mask-position: -208px 0px;
}
.icon-reload {
  mask-position: -112px 0px;
}
.step-backward {
  mask-position: -143px 0px;
  background-color: #9ca3af;
}
.angle-left {
  mask-position: -48px 0px;
  background-color: #9ca3af;
}
.angle-right {
  mask-position: -64px 0px;
  background-color: #9ca3af;
}
.step-forward {
  mask-position: -160px 0px;
  background-color: #9ca3af;
}
.icon-production-report {
  mask-position: -214px -7px;
  background-color: #9ca3af;
}
.icon-production-category {
  mask-position: -240px -6px;
  background-color: #9ca3af;
}
.icon-production-system {
  mask-position: -266px -6px;
  background-color: #9ca3af;
}
.icon-product-material {
  mask-position: -136px -6px;
  background-color: #9ca3af;
}
.icon-process {
  mask-position: -162px -6px;
  background-color: #9ca3af;
}
.icon-production-capacity {
  mask-position: -189px -6px;
  background-color: #9ca3af;
}
.icon-arrow-right {
  mask-position: -220px -16px;
  background-color: #9ca3af;
}
.icon-close {
  mask-position: -299px -16px;
  background-color: #4b5563;
}
.ic-help {
  mask-position: -279px -16px;
  background-color: #4b5563;
}
.pencil {
  mask-position: -271px 0px;
  background-color: #4b5563;
}
.feature-more-blue {
  mask-position: -288px 0px;
  background-color: #4b5563;
}
.icon-duplicate {
  mask-position: -224px 0px;
}
.icon-warning {
  mask-position: -188px -169px;
}
.icon-confirm,
.icon-info {
  mask-position: -218px -167px;
  background-color: #2563eb;
}
.icon-export {
  mask-position: -976px 0px;
}
